PYTHON_VERSION=3.9.16
REQUIREMENTS_FILE=./requirements.txt
if [ ! -d ".venv" ] ; then
    # install pyenv - https://github.com/pyenv/pyenv#installation

    # Check autogluon installation requirements -> https://github.com/autogluon/autogluon/issues/1242
    # try running these ->  
    # xcode-select --install
    # brew install cmake libomp rust
    # brew install llvm

    # install python version - pyenv install $PYTHON_VERSION
    # Activate python version for current folder -
    pyenv local $PYTHON_VERSION 

    # create and activate virtual environment
    python -m venv .venv
    source ./.venv/bin/activate

    # install package management tools
    python -m pip install --upgrade pip setuptools wheel 
    python -m pip install -r $REQUIREMENTS_FILE
    deactivate
fi
source .venv/bin/activate
    
